{% extends 'base.html' %}

{% block Title %} {{ title }} {% endblock Title %}

{% block quisioner %}
  <div class="bg-body-secondary rounded mt-3 p-3">
    <legend class="text-center">{{ pertanyaan.pertanyaan_text }}</legend> 
    <form action="{% url 'myapp:vote' pertanyaan.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}
            {% for pilihan in pertanyaan.pilihan_set.all %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pilihan" id="pilihan{{ forloop.counter }}" value="{{ pilihan.id }}" checked>
                <label class="form-check-label" for="pilihan{{ forloop.counter }}">
                    {{ pilihan.pilihan_text }}
                </label>
            </div>
            <br>
            {% endfor %}
        </fieldset>
        <div class="d-grid gap-2 col-6 mx-auto mb-2">
            <button class="btn btn-outline-secondary" type="submit">vote</button>
        </div>
    </form>
  </div>
{% endblock %}





